<a href="https://colab.research.google.com/github/Nimatumaru/PortfolioProjects/blob/main/car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/data.csv')

In [4]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [5]:
df[df.Make== 'BMW'].MSRP.mean()

61546.76347305389

In [6]:
df.groupby('Make').MSRP.mean().round(3)

Make
Acura              34887.587
Alfa Romeo         61600.000
Aston Martin      197910.376
Audi               53452.113
BMW                61546.763
Bentley           247169.324
Bugatti          1757223.667
Buick              28206.612
Cadillac           56231.317
Chevrolet          28350.386
Chrysler           26722.963
Dodge              22390.059
FIAT               22670.242
Ferrari           238218.841
Ford               27399.267
GMC                30493.299
Genesis            46616.667
HUMMER             36464.412
Honda              26674.341
Hyundai            24597.036
Infiniti           42394.212
Kia                25310.173
Lamborghini       331567.308
Land Rover         67823.217
Lexus              47549.069
Lincoln            42839.829
Lotus              69188.276
Maserati          114207.707
Maybach           546221.875
Mazda              20039.383
McLaren           239805.000
Mercedes-Benz      71476.229
Mitsubishi         21240.535
Nissan             28583.432
Oldsmobile         11542.540
Plymouth            3122.902
Pontiac            19321.548
Porsche           101622.397
Rolls-Royce       351130.645
Saab               27413.505
Scion              19932.500
Spyker            213323.333
Subaru             24827.504
Suzuki             17907.208
Tesla              85255.556
Toyota             29030.016
Volkswagen         28102.381
Volvo              28541.160
Name: MSRP, dtype: float64

In [7]:
df[df.Year>=2015]['Engine HP'].isnull().sum()

51

In [8]:
mean_hp = df['Engine HP'].mean()
mean_hp

249.38607007176023

In [9]:
df['Engine HP'].fillna(0).mean()

247.94174920261878

In [16]:
df_rr = df[df.Make =="Rolls-Royce"]
df_rr = df_rr[["Engine HP","Engine Cylinders","highway MPG"]]
df_rr = df_rr.drop_duplicates()

In [11]:
x = df_rr.values
x

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [12]:
xTX = x.T.dot(x)

In [13]:
xTx_inv = np.linalg.inv(xTX)
xTx_inv.sum()

0.032212320677486125

In [14]:
y =[1000, 1100, 900, 1200, 1000, 850, 1300]

In [15]:
w = xTx_inv.dot(x.T).dot(y)